asttokens
boto3
botocore
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
ipykernel
ipython
ipython_pygments_lexers
jedi
jmespath
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pyarrow
Pygments
pyparsing
python-dateutil
pyzmq
s3transfer
seaborn
six
stack-data
tornado
traitlets
urllib3
wcwidth
